<section class="main-content">
  <div class="container">
    <h2 class="page-title">Edit Profile</h2>
    <div class="card">
      <div class="flash-message">
        <% if flash[:notice] %>
          <%= content_tag :span, flash[:notice], class: "notice", id: "puffly" %>
        <% end %>
      </div>
      <div class="card-body p-lg">
        <%= form_for :profile do |form| %>
          <div class="row">
            <div class="col-sm-6">

              <section class="profile-content">
                <h5 class="primary-header">Personal Information</h5>
                <%= form.hidden_field :user_id, value: @thrift_id %>

                <%# First Name %>
                <div class="form-group row">
                  <%= form.label :firstname, 'First Name', class: "col-sm-4 col-4 col-form-label" %>
                  <div class="col-sm-7 col-8">
                    <%= form.text_field :firstname, class: "form-control", id: "firstname", placeholder: "First Name" %>
                  </div>
                </div>

                <%# Middle Name %>
                <div class="form-group row">
                  <%= form.label :middlename, 'Middle Name', class: 'col-sm-4 col-4 col-form-label' %>
                  <div class="col-sm-7 col-8">
                    <%= form.text_field :middlename, class: "form-control", id: "middlename", placeholder: "Middle Name" %>
                  </div>
                </div>

                <%# Last Name %>
                <div class="form-group row">
                  <%= form.label :lastname, 'Last Name', class: 'col-sm-4 col-4 col-form-label' %>
                  <div class="col-sm-7 col-8">
                    <%= form.text_field :lastname, class: "form-control", id: "lastname", placeholder: "Last Name" %>
                  </div>
                </div>

                <%# Date of Birth %>
                <div class="form-group row">
                  <%= form.label :dob, 'Date of Birth', class: 'col-sm-4 col-4 col-form-label' %>
                  <div class="col-sm-7 col-8">
                    <%= form.date_field :dob, class: "form-control", id: "dob" %>
                  </div>
                </div>

                <%# Gender %>
                <div class="form-group row">
                  <%= form.label :gender, 'Gender', class: "col-sm-4 col-4 col-form-label" %>
                  <div class="col-sm-7 col-8">
                    <div class="form-check form-check-inline">
                      <%= form.radio_button :gender, class: "form-check-input", id: "male", value: "male", checked: true %>
                      <%= form.label :gender_male, 'Male', class: "form-check-label" %>
                    </div>
                    <div class="form-check form-check-inline">
                      <%= form.radio_button :gender, class: "form-check-input", id: "female", value: "female" %>
                      <%= form.label :gender_female, 'Female', class: "form-check-label" %>
                    </div>
                  </div>
                </div>

                <%# Designation %>
                <div class="form-group row">
                  <%= form.label :designation, "Designation", class: "col-sm-4 col-4 col-form-label" %>
                  <div class="col-sm-7 col-8">
                    <%= form.text_field :designation, class: "form-control", id: "designation", placeholder: "Designation" %>
                  </div>
                </div>

                <%# Location %>
                <div class="form-group row">
                  <%= form.label :location, "Location", class: "col-sm-4 col-4 col-form-label" %>
                  <div class="col-sm-7 col-8">
                    <%= form.text_field :location, class: "form-control", id: "location", placeholder: "Location" %>
                  </div>
                </div>

                <%# Designation %>
                <div class="form-group row">
                  <%= form.label :department, "Department", class: "col-sm-4 col-4 col-form-label" %>
                  <div class="col-sm-7 col-8">
                    <%= form.text_field :department, class: "form-control", id: "department", placeholder: "Department" %>
                  </div>
                </div>

                <%# Year of Employment %>
                <div class="form-group row">
                  <%= form.label :year_of_employment, 'Year of Employment', class: 'col-sm-4 col-4 col-form-label' %>
                  <div class="col-sm-7 col-8">
                    <%= form.select :year_of_employment, (Time.zone.now.year - 100)..(Time.zone.now.year + 1), class: 'form-control' %>
                  </div>
                </div>

                <%# Phone %>
                <div class="form-group row">
                  <%= form.label :phone, "Phone", class: "col-sm-4 col-4 col-form-label" %>
                  <div class="col-sm-7 col-8">
                    <%= form.text_field :phone, class: "form-control", id: "phone", placeholder: "Phone" %>
                  </div>
                </div>

                <%# Address 1 %>
                <div class="form-group row">
                  <%= form.label :address1, "Address 1", class:"col-sm-4 col-4 col-form-label" %>
                  <div class="col-sm-7 col-8">
                    <%= form.text_field :address1, class: "form-control", id: "address1", placeholder: "Address 1" %>
                  </div>
                </div>

                <%# Address 2 %>
                <div class="form-group row">
                  <%= form.label :address2, "Address 2", class:"col-sm-4 col-4 col-form-label" %>
                  <div class="col-sm-7 col-8">
                    <%= form.text_field :address2, class: "form-control", id: "address2", placeholder: "Address 2" %>
                  </div>
                </div>

                <%# City %>
                <div class="form-group row">
                  <%= form.label :city, "City", class:"col-sm-4 col-4 col-form-label" %>
                  <div class="col-sm-7 col-8">
                    <%= form.text_field :city, class: "form-control", id: "city", placeholder: "City" %>
                  </div>
                </div>

                <%# State %>
                <div class="form-group row">
                  <%= form.label :state, "State", class: "col-sm-4 col-4 col-form-label" %>
                  <div class="col-sm-7 col-8">
                    <%= form.text_field :state, class: "form-control", id: "state", placeholder:"State" %>
                  </div>
                </div>

                <%# Nationality %>
                <div class="form-group row">
                  <%= form.label :nationality, "Nationality", class: "col-sm-4 col-4 col-form-label" %>
                  <div class="col-sm-7 col-8">
                    <%= form.text_field :nationality, class: "form-control", id: "nationality", placeholder:"Nationality" %>
                  </div>
                </div>
              </section>
            </div>

            <div class="col-sm-6">
                <section class="profile-content">
                  <h5 class="primary-header">Bank Details</h5>
                  <%= form.fields_for :bank_detail_attributes, @profile.bank_detail do |fbank| %>
                    <%# Account Name %>
                    <div class="form-group row">
                      <%= fbank.label :account_name, "Account Name", class: "col-sm-4 col-4 col-form-label" %>
                      <div class="col-sm-7 col-8">
                        <%= fbank.text_field :account_name, class: "form-control", id: "account_name", placeholder: "Account Name" %>
                      </div>
                    </div>

                    <%# Account Number %>
                    <div class="form-group row">
                      <%= fbank.label :account_number, "Account Number", class: "col-sm-4 col-4 col-form-label" %>
                      <div class="col-sm-7 col-8">
                        <%= fbank.text_field :account_number, class:"form-control", id: "account_no", placeholder: "Account Number" %>
                      </div>
                    </div>

                    <%# Bank Name %>
                    <div class="form-group row">
                      <%= fbank.label :bank_name, "Bank Name", class: "col-sm-4 col-4 col-form-label" %>
                      <div class="col-sm-7 col-8">
                        <%= fbank.text_field :bank_name, class: "form-control", id: "bank", placeholder: "Bank Name" %>
                      </div>
                    </div>

                    <%# Sort Code %>
                    <div class="form-group row">
                      <%= fbank.label :sort_code, "Sort Code", class: "col-sm-4 col-4 col-form-label" %>
                      <div class="col-sm-7 col-8">
                        <%= fbank.text_field :sort_code, class: "form-control", id: "sort_code", placeholder:"Sort Code" %>
                      </div>
                    </div>
                  <% end %>
                </section>
              
              <section class="profile-content">
                <h5 class="primary-header">Next of Kin</h5>
                <%= form.fields_for :next_of_kin_attributes, @profile.next_of_kin do |fnok| %>
                  <%# Next of Kin First Name %>
                  <div class="form-group row">
                    <%= fnok.label :first_name, "First Name", class: "col-sm-4 col-4 col-form-label" %>
                    <div class="col-sm-7 col-8">
                      <%= fnok.text_field :first_name, class: "form-control", id: "name", placeholder: "First Name" %>
                    </div>
                  </div>

                  <%# Last Name %>
                  <div class="form-group row">
                    <%= fnok.label :last_name, "Last Name", class: "col-sm-4 col-4 col-form-label" %>
                    <div class="col-sm-7 col-8">
                      <%= fnok.text_field :last_name, class: "form-control", id: "name", placeholder: "Last Name" %>
                    </div>
                  </div>

                  <%# Email %>
                  <div class="form-group row">
                    <%= fnok.label :email, "Email",  class:"col-sm-4 col-4 col-form-label" %>
                    <div class="col-sm-7 col-8">
                      <%= fnok.email_field :email, class: "form-control", id:"email", placeholder:"Email" %>
                    </div>
                  </div>

                  <%# Phone %>
                  <div class="form-group row">
                    <%= fnok.label :phone, "Phone", class: "col-sm-4 col-4 col-form-label" %>
                    <div class="col-sm-7 col-8">
                      <%= fnok.text_field :phone, class:"form-control", id:"phone", placeholder:"Phone" %>
                    </div>
                  </div>

                  <%# Relationship %>
                  <div class="form-group row">
                    <%= fnok.label :relationship, "Relationship", class: "col-sm-4 col-4 col-form-label" %>
                    <div class="col-sm-7 col-8">
                      <%= fnok.text_field :relationship, class: "form-control", id: "relationship", placeholder: "Relationship" %>
                    </div>
                  </div>

                  <%# Address 1%>
                  <div class="form-group row">
                    <%= fnok.label :address1, "Address 1", class: "col-sm-4 col-4 col-form-label" %>
                    <div class="col-sm-7 col-8">
                      <%= fnok.text_field :address1, class: "form-control", id:"nok_address1", placeholder:"Address 1" %>
                    </div>
                  </div>

                  <%# Address 2%>
                  <div class="form-group row">
                    <%= fnok.label :address2, "Address 2", class: "col-sm-4 col-4 col-form-label" %>
                    <div class="col-sm-7 col-8">
                      <%= fnok.text_field :address2, class: "form-control", id:"nok_address2", placeholder:"Address 2" %>
                    </div>
                  </div>

                  <%# city%>
                  <div class="form-group row">
                    <%= fnok.label :city, "City", class: "col-sm-4 col-4 col-form-label" %>
                    <div class="col-sm-7 col-8">
                      <%= fnok.text_field :city, class: "form-control", id:"nok_city", placeholder:"City" %>
                    </div>
                  </div>

                  <%# State%>
                  <div class="form-group row">
                    <%= fnok.label :state, "State", class: "col-sm-4 col-4 col-form-label" %>
                    <div class="col-sm-7 col-8">
                      <%= fnok.text_field :state, class: "form-control", id:"nok_state", placeholder:"State" %>
                    </div>
                  </div>

                  <%# Nationality%>
                  <div class="form-group row">
                    <%= fnok.label :nationality, "Nationality", class: "col-sm-4 col-4 col-form-label" %>
                    <div class="col-sm-7 col-8">
                      <%= fnok.text_field :nationality, class: "form-control", id:"nok_nationality", placeholder:"Nationality" %>
                    </div>
                  </div>
                <% end %>
              </section>
            </div>
          </div>
          
            <%# Submit Button %>
            <div class="form-group row">
              <div class="col-sm-12">
                <%= form.submit "Submit Profile", class:"btn btn-secondary 1 btn-lg" %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>

</section>
