<section class="main-content">
  <div class="container">
    <h2 class="page-title">Profile Page</h2>
    <div class="card">
      <div class="card-body p-lg">
       <div class="row">
         <div class="col-sm-4 profile-image text-center">
          <img src="https://opennebula.org/wp-content/uploads/2017/01/placeholder.jpg" height="200" alt="" class="rounded-circle">
          <br>
          <small class="text-dimmed">Click on image to change</small>
          <br>
          <h5 class="primary-header mt-3 mb-3">
            <%= @profile.firstname %> <%= @profile.lastname %> <br>
            <small class="text-muted"><%= @profile.phone %></small>
          </h5>
          <%= link_to edit_profile_path(@user_id), class: "btn btn-danger" do %>
            <span class="fa fa-user"></span> Edit Profile
          <% end %>
         </div>
         <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-6">
              <h5 class="primary-header">Personal Information</h5>
              <table class="table profile-content">
                <tbody>
                  <tr>
                    <td>Staff ID</td>
                    <td><%= @staff_id %></td>
                  </tr>
                  <tr>
                    <td>Full Name</td>
                    <td> <%= @profile.firstname %> <%= @profile.middlename %> <%= @profile.lastname %> </td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td><%= @user_email %></td>
                  </tr>
                  <tr>
                    <td>Phone</td>
                    <td><%= @profile.phone%></td>
                  </tr>
                  <tr>
                    <td>Date of Birth</td>
                    <td><%= @profile.dob %></td>
                  </tr>
                  <tr>
                    <td>Designation</td>
                    <td><%= @profile.designation %></td>
                  </tr>
                  <tr>
                    <td>Location</td>
                    <td><%= @profile.location %></td>
                  </tr>
                  <tr>
                    <td>Department</td>
                    <td><%= @profile.department %></td>
                  </tr>
                  <tr>
                    <td>Year of Employment</td>
                    <td><%= @profile.year_of_employment %></td>
                  </tr>
                  <tr>
                    <td>Gender</td>
                    <td><%= @profile.gender %></td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td><%= @profile.address1 %> <%= @profile.address2 %>, <%= @profile.city %></td>
                  </tr>
                  <tr>
                    <td>State</td>
                    <td><%= @profile.state %></td>
                  </tr>
                  <tr>
                    <td>Nationality</td>
                    <td><%= @profile.nationality %></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
            <div class="col-sm-6">
              <h5 class="primary-header">Bank Details</h5>
              <table class="table profile-content">
                <tbody>
                  <tr>
                    <td>Account Name</td>
                    <td><%= @profile.bank_detail.account_name %></td>
                  </tr>
                  <tr>
                    <td>Account No</td>
                    <td><%= @profile.bank_detail.account_number %></td>
                  </tr>
                  <tr>
                    <td>Bank</td>
                    <td><%= @profile.bank_detail.bank_name %></td>
                  </tr>
                  <tr>
                    <td>Sort Code</td>
                    <td><%= @profile.bank_detail.sort_code %></td>
                  </tr>
                </tbody>
              </table>


              <h5 class="primary-header">Next of Kin</h5>
              <table class="table profile-content">
                <tbody>
                  <tr>
                    <td>Full Name</td>
                    <td><%= @profile.next_of_kin.first_name %> <%= @profile.next_of_kin.last_name %></td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td><%= @profile.next_of_kin.email %></td>
                  </tr>
                  <tr>
                    <td>Phone</td>
                    <td><%= @profile.next_of_kin.phone %></td>
                  </tr>
                  <tr>
                    <td>Relationship</td>
                    <td><%= @profile.next_of_kin.relationship %></td>
                  </tr>
                  <tr>
                    <td>Address</td>
                    <td><%= @profile.next_of_kin.address1 %> <%= @profile.next_of_kin.address2 %>, <%= @profile.next_of_kin.city %></td>
                  </tr>
                  <tr>
                    <td>State</td>
                    <td><%= @profile.next_of_kin.state %></td>
                  </tr>
                  <tr>
                    <td>Nationality</td>
                    <td><%= @profile.next_of_kin.nationality %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
         </div>
       </div>
      </div>
    </div>
  </div>
</section>
