<%= flash[:notice] %>
<section class="main-content">
  <div class="container">
    <div class="col-sm-12">
      <div class="col-sm-6">
        <h2 class="page-title">Active/Inactive Users 
          <%= link_to new_user_path() do%>
            <button data-toggle="tooltip" data-placement="top" title="Add New User"  class="btn  btn-outline-success btn-round">
              <span class="fa fa-plus"></span>
            </button>
          <% end %>
          <button data-toggle= "modal" data-target= "#uploadUsersModal" data-placement="top" title="Upload Multiple Users" class="btn  btn-outline-info btn-round">
            <span class="fa fa-upload"></span>
          </button>
          <%= link_to admin_download_users_csv_path(format: 'csv') do%>
            <button data-toggle="tooltip" data-placement="top" title="Download users (CSV)"  class="btn  btn-outline-danger btn-round">
              <span class="fa fa-download"></span>
            </button>
          <% end %>
        </h2>
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>
    <div class="card">
      <div class="card-body p-lg">
      
        <form action="" id="profile-form">
          <div class="row">
            <div class="col-sm-12">
              <h5 class="primary-header"> Applications </h5>
              <% if @all_users.nil? %>
                <div class="padding10">No User registered</div>
              <% else %>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center" style="width: 10%">#</th>
                      <th class="text-center">Staff Id</th>
                      <th class="text-center">Email</th>
                      <th class="text-center">Date Created</th>
                      <th class="text-center"></th>
                    </tr>
                  </thead>
                  <tbody>
                  <% @inactive_users.each_with_index do |user, index| %>
                    <tr>
                      <td class="text-center"><%= index + 1 %></td>
                      <td class="text-center"><%= user.username%></td>
                      <td class="text-center"><%= user.email %></td>
                      <td class="text-center"><%= user.created_at.to_date %></td>
                      <td class="text-center">
                      <% if user.activated? %>
                        <%= link_to activate_deactivate_user_path(user.id), class: "btn btn-danger" do %>
                          Deactivate
                        <% end %>
                      <% else %>
                        <%= link_to activate_deactivate_user_path(user.id), class: "btn btn-success" do %>
                          Activate
                        <% end %>
                      <% end %>
                        <%= link_to edit_profile_path(user.id), class: "btn btn-info" do %>
                          Profile
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              <% end %>
            </div>
          </div>
  </div>
</section>
<%= render "layouts/uploadusermodal", user: @user%>
