<section class="main-content">
  <div class="container">
    <h2 class="page-title">Active/Inactive Users</h2>
    <div class="card">
      <div class="card-body p-lg">
      
        <form action="" id="profile-form">
          <div class="row">
            <div class="col-sm-12">
              <h5 class="primary-header"> Applications </h5>
              <% if @all_users.nil? %>
                <div class="padding10">No User registered</div>
              <% else %>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center" style="width: 10%">#</th>
                      <th class="text-center">Staff Id</th>
                      <th class="text-center">Email</th>
                      <th class="text-center">Date Created</th>
                      <th class="text-center"></th>
                    </tr>
                  </thead>
                  <tbody>
                  <% @inactive_users.each_with_index do |user, index| %>
                    <tr>
                      <td class="text-center"><%= index + 1 %></td>
                      <td class="text-center"><%= user.username%></td>
                      <td class="text-center"><%= user.email %></td>
                      <td class="text-center"><%= user.created_at.to_date %></td>
                      <td class="text-center">
                      <% if user.activated? %>
                        <%= link_to activate_deactivate_user_path(user.id), class: "btn btn-danger" do %>
                          Deactivate
                        <% end %>
                      <% else %>
                        <%= link_to activate_deactivate_user_path(user.id), class: "btn btn-success" do %>
                          Activate
                        <% end %>
                      <% end %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              <% end %>
            </div>
          </div>
  </div>

</section>

