<section class="main-content">
  <div class="container">
    <h2 class="page-title">Total Loans
      <%= link_to admin_new_loan_path() do%>
        <button data-toggle="tooltip" data-placement="top" title="Add New Loan"  class="btn  btn-outline-success btn-round">
          <span class="fa fa-plus"></span>
        </button>
      <% end %>
      <button data-toggle= "modal" data-target= "#uploadLoanModal" data-placement="top" title="Upload Loan Applications" class="btn  btn-outline-info btn-round">
        <span class="fa fa-upload"></span>
      </button>
      <%= link_to admin_download_loans_csv_path(format: 'csv') do%>
        <button data-toggle="tooltip" data-placement="top" title="Download Loans (CSV)"  class="btn  btn-outline-danger btn-round">
          <span class="fa fa-download"></span>
        </button>
      <% end %>
    </h2>
    <div class="card">
      <div class="padding10">
        <% if @all_loan_app.nil? %>
          <div class="padding10"> No loan Application available </div>
        <% else %>
          <form action="" id="profile-form">
            <div class="row">
            <div class="col-sm-12">
              <h5 class="primary-header">All Loans </h5>
              <table class="table table-striped table-money">
                <thead>
                  <tr>
                    <th class="text-center" width="4%">#</th>
                    <th width="6%">View Details</th>
                    <th width="12%">Date</th>
                    <th width="12%">Loan Amount</th>
                    <th width="12%">Status</th>
                    <th width="12%">Completed?</th>
                    <th width="15%">Guarantor 1</th>
                    <th width="15%">Guarantor 2</th>
                    <th class="text-center" width="15%">Approve/Decline</th>
                  </tr>
                </thead>
              </table>
              <div class="table-money-holder">
                <table class="table table-striped table-money">
                  <tbody>
                  <% @all_loan_app.each_with_index do |each_loan, index| %>
                      <tr>
                        <td class="text-center" width="4%"><%= index + 1 %></td>
                        <td width="6%">
                          <%= link_to loan_path(each_loan.id) do %>Details<% end %>
                        </td>
                        <td width="12%"><%= each_loan.created_at.to_date %></td>
                        <td width="12%"><%= each_loan.amount %></td>
                        <td width="12%"><span class="text-danger"><%= each_loan.status.upcase %></span></td>
                        <td width="12%"><%= each_loan.finished_payment %></td>
                        <td width="15%"><%= user_fullname(each_loan.guarantor_one_id) %></td>
                        <td width="15%"><%= user_fullname(each_loan.guarantor_two_id) %></td>
                        <td class="text-center" width="15%">
                          <% if loan_approved?(each_loan.status, each_loan.guarantor_one_status, each_loan.guarantor_two_status)%>
                            <%= link_to approve_loan_path(each_loan.id), class: "btn btn-success" do %>
                              <i class="fa fa-plus"></i>
                            <% end %>
                            <%= link_to decline_loan_path(each_loan.id), class: "btn btn-danger" do %>
                              <i class="fa fa-trash"></i>
                            <% end %>
                          <% end %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
              <table class="table table-striped table-money">
                <thead>
                  <tr>
                    <th width="80%">Total Pending Approval</th>
                    <th class="text-center" width="20%"><%= @total_pending_loan %></th>
                  </tr>
                  <tr>
                    <th width="80%">Total Approved</th>
                    <th class="text-center" width="20%"><%= @total_approved_loan %></th>
                  </tr>
                  <tr>
                    <th width="80%">Total Declined</th>
                    <th class="text-center" width="20%"><%= @total_declined_loan %></th>
                  </tr>
                </thead>
              </table>
            </div>
          </form>
        <% end %>
      </div>
    </div>
  </div>

</section>

