<section class="main-content">
  <div class="container">
    <h2 class="page-title">Monthly Contribution</h2>    
    <div class="card">
      <div class="card-body p-lg">
      
      <%= form_for @new_contribution do |f| %>
          <div class="row">
            <div class="col-sm-6">
                      
              <section class="profile-content">
                <h5 class="primary-header">Contribution Details</h5>
                                
                <%= render "layouts/alerts" %>
                
                
                <%# Amount %>
                <div class="form-group row">
                  <%= f.label :amount, "Amount", class: "col-sm-4 col-4 col-form-label" %>
                  <div class="col-sm-7 col-8">
                    <input type="text" class="form-control add-comma" id="amount" placeholder="Amount" value="<%= @new_contribution[:amount].to_i %>">
                    <%= f.hidden_field :amount, { value: 0, id: "contribution-amount" } %>
                  </div>
                </div>
                
                <%# Start month for contribution %>
                <div class="form-group row" id="duration-block">
                  <label for="duration" class="col-sm-4 col-4 col-form-label">Start Month</label>
                  <div class="col-sm-7 col-8">
                    <%= f.select :start_month, @month, 
                      { include_blank: "Select Start Month" }, class: "custom-select form-control select2", required: "required" %>
                  </div>
                </div>

                <%# Start year for contribution %>
                <div class="form-group row" id="duration-block">
                  <label for="duration" class="col-sm-4 col-4 col-form-label">Start Year</label>
                  <div class="col-sm-7 col-8">
                    <%= f.select :start_year, (Time.zone.now.year - 100)..(Time.zone.now.year + 1), { include_blank: "Select Start Year" }, class: "custom-select form-control select2", required: "required" %>
                  </div>
                </div>

                <div class="form-check mt-4">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="agree" id="contribution-agreement">
                    I have read and understood the terms and conditions
                  </label>
                </div>

                <%# Submit Button %>
                <div class="form-group row mt-5">
                  <div class="col-sm-12">
                    <%= f.submit "Apply for Contribution", { class:"btn btn-secondary btn-lg", id: "contribution-button" } %>
                  </div>
                </div>
              </section>
            </div>

            <div class="col-sm-6">

              <section class="profile-content">
                <h5 class="primary-header">Terms and Conditions</h5>
                <ul>
                  <li> An entrance fee of N5000 will be deducted from your savings</li>
                  <li> The sum N1000 will be deducted for Passbook and Bye-Law</li>
                  <li> A fixed amount of N10000 will be deducted either once or monthly for a maximum of 4months for share capital</li>
                  <li> The monthly contribution shall be subject to Management Committee Approval</li>
                  <li> Your net pay must be able to accommodate the monthly contribution</li>
                  <li> The Society reserves the right to grant or reject any application.</li>
                </ul>
              </section>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>