<section class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="page-title">Loan Details</h2>      
        <section class="card card-money">
          <div class="card-body">
            <div class="card-gray">
              <h2>&#8358; <%= @loan_detail.amount %></h2>
              <p>Status: <%= @loan_detail.status %> </p>
            </div>
                            
            <table class="table money-content">
              <tbody>
                <tr>
                  <td class="transparent-header" colspan="2"><h5>Loan Summary</h5></td>
                </tr>
                <tr>
                  <td>Loan Type</td>
                  <td class="text-right"><strong><%= loan_type(@loan_detail.loan_type_id) %></strong></td>
                </tr>
                <tr>
                  <td>Expected amount</td>
                  <td class="text-right"><strong>&#8358; <%= @loan_detail.expected_amount %></strong></td>
                </tr>
                <tr>
                  <td>Amount Paid</td>
                  <td class="text-right"><strong>&#8358; <%= amount_paid(@loan_detail.id) %></strong></td>
                </tr>
                <tr>
                  <td>Remaining Payment</td>
                  <td class="text-right">&#8358; <%= @loan_detail.expected_amount - amount_paid(@loan_detail.id) %></td>
                </tr>
                <tr>
                  <td>Finished Payment</td>
                  <td class="text-right"><%= @loan_detail.finished_payment %></td>
                </tr>
                <tr>
                  <td>Finished Payment Date</td>
                  <td class="text-right"><%= @loan_detail.finished_payment_date.to_date if @loan_detail.finished_payment_date %></td>
                </tr>
                <tr>
                  <td class="transparent-header" colspan="2"><h5>Deduction Summary</h5></td>
                </tr>
                <tr>
                  <td>Monthly Deduction</td>
                  <td class="text-right">&#8358; <%= @loan_detail.monthly_deduction %></td>
                </tr>
                <tr>
                  <td>Yearly Deduction</td>
                  <td class="text-right"><%= @loan_detail.yearly_deduction %></td>
                </tr>
                <tr>
                  <td class="transparent-header" colspan="2"><h5>Guarantors</h5></td>
                </tr>
                <tr>
                  <td>Guarantor 1</td>
                  <td class="text-right">
                    <%= guarantor_fullname(@loan_detail.guarantor_one_id) %>
                    <% if @loan_detail.guarantor_one_status == 'approved' %>
                      <span class="fa fa-check text-success" data-toggle="tooltip" data-placement="top" title="Approved"></span>
                    <% elsif @loan_detail.guarantor_one_status == 'pending' %>
                      <span class="fa fa-spinner text-info" data-toggle="tooltip" data-placement="top" title="Pending"></span>
                    <% else %>
                      <span class="fa fa-ban text-danger" data-toggle="tooltip" data-placement="top" title="Rejected"></span>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td>Guarantor 2</td>
                  <td class="text-right">
                    <%= guarantor_fullname(@loan_detail.guarantor_two_id) %>
                    <% if @loan_detail.guarantor_two_status == 'approved' %>
                      <span class="fa fa-check text-success" data-toggle="tooltip" data-placement="top" title="Approved"></span>
                    <% elsif @loan_detail.guarantor_two_status == 'pending' %>
                      <span class="fa fa-spinner text-info" data-toggle="tooltip" data-placement="top" title="Pending"></span>
                    <% else %>
                      <span class="fa fa-ban text-danger" data-toggle="tooltip" data-placement="top" title="Rejected"></span>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
            <h3> Clear Balance </h3>
            <hr />
            <% if @loan_detail.status == 'approved' %>
              <%= link_to clear_loan_deposit_path(@loan_detail.id), class: "btn btn-info" do %>By Deposit<% end %>
              <%= link_to clear_loan_savings_path(@loan_detail.id), class: "btn btn-success" do %>By Savings<% end %>
            <% else %>
              <%= link_to edit_loan_path(@loan_detail.id), class: "btn btn-danger" do %>Edit Loan<% end%>
            <% end %>

            <% if admin? %>
              <% if loan_approved?(@loan_detail.status, @loan_detail.guarantor_one_status, @loan_detail.guarantor_two_status)%>
                <%= link_to approve_loan_path(@loan_detail.id), class: "btn btn-success" do %>
                  <i class="fa fa-plus"></i> Approve
                <% end %>
                <%= link_to decline_loan_path(@loan_detail.id), class: "btn btn-danger" do %>
                  <i class="fa fa-trash"></i> Reject
                <% end %>
              <% end %>
            <% end %>
          </div>
        </section>
      </div>

      <div class="col-md-6">
        <h2 class="page-title">Loan Payment History</h2>
        <div class="card">
        <% if @loan_repayment.nil? %>
          <div class="padding10">You do not have any repayment for this loan</div>
        <% else %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-center" width="15%">#</th>
                <th width="40%">Month</th>
                <th width="20%">Year</th>
                <th class="text-center" width="25%">Amount</th>
              </tr>
            </thead>
            <tbody>
            <% @loan_repayment.each_with_index do |each_loan, index| %>
              <tr>
                <th scope="row" class="text-center"><%= index + 1 %></th>
                <td width="35%"><%= each_loan.month %></td>
                <td width="20%"><%= each_loan.year %></td>
                <td class="text-center" width="25%"><%= each_loan.amount %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
        </div>
      </div>

    </div>
  </div>

</section>

