<!DOCTYPE html>
<html>
  <head>
    <title>Loanapp</title>
    <%= csrf_meta_tags %>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="shortcut icon" href="http://res.cloudinary.com/dzwafstu3/image/upload/v1500335476/nnpc/favicon.png" type="image/png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if cookies[:user_info] && session[:current_user_info] %>
      <%= render("layouts/header") %>
    <% end %>
    <% flash.each do |type, msg| %>
      <%= content_tag :span, msg, class: "#{type}", id: "puffly" %>
    <% end %>
    <%= yield %>
  </body>
</html>
