<!DOCTYPE html>
<html>
  <head>
    <title>Loanapp</title>
    <%= csrf_meta_tags %>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="http://res.cloudinary.com/dzwafstu3/image/upload/v1500335476/nnpc/favicon.png" type="image/png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="theme-teal">
    <% if cookies[:user_info] && session[:current_user_info] %>
      <%= render("layouts/header") %>
      <%= render("layouts/navbar") %>
    <% end %>
    <%= yield %>
  </body>
</html>
